html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#overlay {
    
    height: 36%;
    width: 60%;
    padding: 32% 20%;
    background-image:
     linear-gradient(black 20% , #0005 20%), 
     linear-gradient(#0005 80%, black 80%)
     ; 


    position: absolute;
    z-index: 1;

    font-family: arial;
    color: white;
    

}

#background {
    height: 100%;
    width: 100%;
    position: absolute;
}

#name {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}
#number {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}
#mail {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    margin-bottom: 2px;
}
#card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}
#button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}
#button:hover {
    color: red;
}
#name:hover {
    background-color: #e8e0e0;  
}
#number:hover {
    background-color: #e8e0e0;  
}
#mail:hover {
    background-color: #e8e0e0;  
}
#card:hover {
    background-color: #e8e0e0;  
}